.body {
    background-color: #E6D3F2;
}

.header {
    text-align: center;
    font-family: 'Sigmar One', cursive;
}

.burger-images{
    margin: 20px;
}

#burger_heart{
    background-color:#39EEEE;
    border-radius: 110px;
    padding: 10px;
    height:auto;
    width: 200px;
}

#burger_cute{
    background-color:#FCC76B;
    border-radius: 110px;
    padding: 10px;
    height:auto;
    width: 190px;
}

#burger_cheesing{
    background-color:#F06ECF;
    border-radius: 110px;
    padding: 30px;
    height:auto;
    width: 200px;
}

#my-burgers {
    background-color: #E8AEA1;
    width: 900px;
    height: 600px;
    border-radius: 30px;
    margin-top: 10px;
    box-shadow: 10px 15px 20px #888888;
}

.hunger-levels, .add-burger-header{
    font-family: 'Sigmar One', cursive;
}

.on-the-menu{
    width: 475px;
}

.first-section,
.second-section {
    width: 100px;
    height: 290px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu {
    width: 500px;
    height: 200px;
    margin-top: 10px;
}

.current-menu-items {
    list-style: none;
}

#submit-button{
    float: left;
}

li{
    font-size: 15px;
    margin-bottom: 5px;
    font-family: 'Rammetto One', cursive;
}

